# System files
.DS_Store

# Pycharm files
scripts/__pycache__/
scripts/.idea/
.idea/

# Jupyter files
scripts/test/.ipynb_checkpoints/

# Selenium files
scripts/test/geckodriver.log

# Google Drive files
.tmp.driveupload/

# Data
data/raw/*
!data/raw/

# Models
src/*
!src/

#gitkeep
**/*.gitkeep